.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-template-rows: repeat(3,200px) 50px 50px;
}
#box-1{
    grid-row: span 5;
}

.box{
    background-color: gray;
}
#box-11, #box-12{
    grid-column: span 3;
}