.container, .inner{
    width: 200px;
    height: 200px;
    
}
.container{
    border: 2px solid steelblue;
    background: aquamarine;
}
.inner{
    border: 2px solid brown;
    background-color: palegoldenrod;
    /* transform: scale(0.25, 0.5); */
    /* transform: rotate(45deg); */
    /* transform: scale(0.5) rotate(45deg) translateX(100px); */
    /* transform: translateX(50px); */
}
.inner:hover{
    transform: scale(0.5) rotate(45deg);
}